.contact {
    background-color: #23212c;
    color: white;
    min-height: 90vh;
    padding-bottom: 10vh;

    &-title {
        text-align: center;
    }

    &-row {
        margin: 0 auto;
        width: 1000px;
        max-width: 100%;
        padding-top: 50px;
    }

    &-space {
        width: 4%;
        display: inline-block;
    }

    &-col {
        width: 46%;
        display: inline-block;
        vertical-align: top;
        padding-left: 2%;
    }
    
    &-center {
        text-align: center;
    }

    &-lightblue {
        color: rgb(186, 198, 253);
        font-weight: bold;
        display: block;
    }
}