.project {
    display: inline-block;
    width: 470px;
    padding-bottom: 50px;
    vertical-align: top;
    padding-left: 30px;

    &-img {
        width: 100%;
        height: 250px;
        margin-bottom: 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: white;
        background-size: cover;
        cursor: pointer;

        & p {
            color: rgba(0, 0, 0, 0);
        }

        & span {
            color: rgba(0, 0, 0, 0);
        }

        &:hover {
            background-image: none !important;
            opacity: 0.5;
            transition: opacity 0.7s;
            

            & p {
                color: black;
                transition: color 0.7s;
                text-align: center;
                background-color: rgb(186, 198, 253);
                display: inline-block;
                width: 100px;
                margin: 0 auto;
                padding: 5px;
                margin-bottom: 10px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    & h1 {
        color: rgb(186, 198, 253);
        padding-bottom: 20px;
        font-size: 24px;
    }

    & a {
        text-decoration: none;
        display: inline-block;
        width: 230px;
        box-sizing: border-box;
        border: solid 2px white;
        color: white;
        text-align: center;

        &:hover {
            border-color:rgb(186, 198, 253);
            color: rgb(186, 198, 253);
        }
    }

    & span {
        width: 10px;
        display: inline-block;
    }
}

@media only screen and (max-width: 1150px) {
    .project {
        display: block;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 530px) {
    .project {
        width: 100%;

        &-img {
            height: 43vw;
        }

        & a {
            width: 49%;
        }

        & span {
            width: 2%;
        }
    }
}