<div class="about">
  <div class="about-row">
      <h1 class="about-title">About</h1>
  </div>
  <div class="about-row">
    <div class="about-col">
      <h2 class="about-undertitle">Who am I?</h2><br>
      <img src="./../../../assets/martin.png" class="about-img" alt="Martin">
      <p>
        I am a front-end developer fresh out of school from Oslo, Norway.
        <br><br>
        I enjoy creating dynamic and intuitive websites and my weapon of choice is Node and Angular.
      </p>
    </div>
    <div class="about-space"></div>
    <div class="about-col">
      <h2 class="about-undertitle">Timeline</h2><br>
      <div class="about-timeline">
          <p class="about-timeline-text">
            <span class="about-timeline-date">December 1992:</span><br>
            Born
          </p>
          <p class="about-timeline-text">
            <span class="about-timeline-date">August 2012:</span><br>
            Computer Science Bachelor, HiST(NTNU), Trondheim.<br>Exit after first year.
          </p>
          <p class="about-timeline-text">
            <span class="about-timeline-date">Oktober 2013:</span><br>
            Tech support at GoExcellent
          </p>
          <p class="about-timeline-text">
            <span class="about-timeline-date">August 2015:</span><br>
            Pedagogikk, NTNU, Trondheim
          </p>

          <p class="about-timeline-text">
            <span class="about-timeline-date">August 2017:</span><br>
            Frontend, Noroff, Oslo
          </p>
      </div>
    </div>
  </div>
</div>
<app-nav></app-nav>