.home {
    background-color: #23212c;
    height: 70vh;
    padding-top: 30vh;

    &-text {
        margin: 0 auto;
        width: 400px;
        max-width: 100%;

        &-outer {
            color: rgb(186, 198, 253);
            font-size: 25px;
            padding: 0 30px;
        }

        &-inner {
            display: block;
            color: white;
            padding: 10px 0 10px 50px;
            font-size: 20px;
        }

        &-button {
            display: block;
            text-decoration: none;
            border: 2px solid white;
            color: white;
            text-align: center;
            margin-top: 20px;

            &:hover {
                border-color:rgb(186, 198, 253);
                color: rgb(186, 198, 253);
            }
        }
    }
}

//#23212c
//#7f684a
//